<style>
* {
    box-sizing: border-box;
}

.column {
    float: center;
    width: auto;
    padding: 3px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row1{
	text-align: center;
}

.logo{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}

#images{
   text-align:center;
}
</style>

<aside>
	<div class = "row1">
	  <h3>Corporate Sponsors</h3>
      <br>
    </div>
	
	<div class="row">
	    <a target="_blank" href="https://www.apple.com"><img src="/program/keynotes/images/apple.svg" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	    <a target="_blank" href="https://www.google.com/"><img src="/program/keynotes/images/google.png" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	    <a target="_blank" href="https://www.oracle.com/"><img src="/program/keynotes/images/oracle.png" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	    <a target="_blank" href="https://www.esri.com/"><img src="/program/keynotes/images/esri.png" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	    <a target="_blank" href="https://www.microsoft.com/"><img src="/program/keynotes/images/microsoft.png" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	    <a target="_blank" href="https://www.maxar.com/"><img src="/program/keynotes/images/maxar.png" style="display: block; max-width:300px; max-height:180px; width: auto; height: auto; margin-left: auto; margin-right: auto;"></a>
	</div>

</aside>